*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: rgb(227, 226, 226); */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.main-cont{
    height: 100%;
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    height: 70px;
}